<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title></title> {% endblock %}
</head>
<body>

    <div>
        {% with messages = get_flashed_messages(category_filter='success') %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>


    <div>
        {% block content %} {% endblock %}
    </div> 
</body>
</html>