{{form.name.label}}
{{form.name}}

{% if form.name.errors %}
    <u>
        {% for i in form.name.error %}
            <li>
                {{ i }}
            </li>
        {% endfor %}
    </u>
{% endif %}

{% if form.errors %}
    <u>
        {% for i in form.error %}
            <li>
                {{ i }}
            </li>
        {% endfor %}
    </u>
{% endif %}

{% if id: %}

    {{form.file.label}}
    {{form.file}}

{% endif %}

{{form.csrf_token}}
<button type="submit"> Send </button>